smart,a-s,10.100.2.132,10.100.2.142,vm-etl-l1,vm-etl-l2,Y,10.100.1.132,./run.sh smart,/u01/eirsapp/etl_module/etl_edr/etl_edr_p1_p2
metfone,a-s,10.100.2.132,10.100.2.142,vm-etl-l1,vm-etl-l2,N,10.100.1.132,./run.sh metfone,/u01/eirsapp/etl_module/etl_edr/etl_edr_p1_p2
cellcard,a-s,10.100.2.132,10.100.2.142,vm-etl-l1,vm-etl-l2,N,10.100.1.132,./run.sh cellcard,/u01/eirsapp/etl_module/etl_edr/etl_edr_p1_p2
seatel,a-s,10.100.2.132,10.100.2.142,vm-etl-l1,vm-etl-l2,N,10.100.1.132,./run.sh seatel,/u01/eirsapp/etl_module/etl_edr/etl_edr_p1_p2
